@model RecommendShop.Areas.Customer.ViewModels.SearchVm

@{
    ViewData["Title"] = "Search Page";
}
@{
    var cateLevel0 = Model.ListCategory.Where(c => c.Level == 0);
    var cateLevel1 = Model.ListCategory.Where(c => c.Level > 0); /*Chưa tối ưu hóa*/

}
<link rel="stylesheet" href="~/css/search.css">
<link rel="stylesheet" href="~/css/index.css">

<div class="container mt-4">
    <!-- Section Category -->
    <div class="row row-category">
        <!-- Category -->
        <div class="col-12 div-category bg-light col-category text-center">
            @foreach (var cate0 in cateLevel0)
            {
                <div class="btn-group dropdown ">
                    <button type="button" class="btn dropdown-toggle" id="btn-cate" data-bs-toggle="dropdown" aria-expanded="false">
                        @cate0.Name
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var cate1 in cateLevel1.Where(c => c.ParentId == cate0.CategoryId))
                        {
                            <li>
                                <a id="category-level1" asp-controller="Search" asp-action="SearchByCategoryId" asp-route-id="@cate1.CategoryId" style="text-decoration:none !important">
                                    <button class="dropdown-item btn-light" type="button">@cate1.Name</button>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="row mt-3">

        @foreach (var item in Model.ListProduct)
        {
            <div class="col-2 mr-2 mb-4 bg-white">
                <a class="card-product" asp-controller="Detail" asp-action="Index" asp-route-id="@item.ProductId">
                    <div class="card text-center" style="height: 400px !important">
                        <img class="card-img-top mt-3" src="@item.ImageMainUrl" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><strong>@item.Name</strong></p>
                            <h6 class="card-text text-dark">@item.PriceCurrent đ <span class="discount"><button class="text-danger btn-outline-light"><strong><dek>@item.PriceOld đ</dek></strong></button></span></h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<!-- Send mail -->
<div class="row mb-4">
    <div class="col-12 mt-3 mb-3 text-center">
        <h3>ĐĂNG KÝ NHẬN ƯU ĐÃI</h3>
    </div>
    <div class="col-4"></div>
    <div class="col-4 mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Vui lòng nhập Email để đăng ký!">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary button-search" type="button">
                    <h5 id="register">ĐĂNG KÝ</h5>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>