@model RecommendShop.Areas.Customer.ViewModels.DetailVm

@{
    ViewData["Title"] = "Detail Page";
}
@{
    var cateLevel0 = Model.ListCategory.Where(c => c.Level == 0);
    var cateLevel1 = Model.ListCategory.Where(c => c.Level > 0); /*Chưa tối ưu hóa*/
    double rank = Model.Product.Rating;
    if (Model.ListReview.Count > 0)
    {
        rank = 0;
        foreach (var item in Model.ListReview)
        {
            rank += item.Rank;
        }
        rank = rank / (Model.ListReview.Count());
    };

}
<link rel="stylesheet" href="~/css/search.css">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/detail.css">
<div class="container mt-4">
    <div class="row row-category">
        <!-- Category -->
        <div class="col-12 div-category bg-light col-category text-center">
            @foreach (var cate0 in cateLevel0)
            {
                <div class="btn-group dropdown ">
                    <button type="button" class="btn dropdown-toggle" id="btn-cate" data-bs-toggle="dropdown" aria-expanded="false">
                        @cate0.Name
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var cate1 in cateLevel1.Where(c => c.ParentId == cate0.CategoryId))
                        {
                            <li>
                                <a id="category-level1" asp-controller="Search" asp-action="SearchByCategoryId" asp-route-id="@cate1.CategoryId" style="text-decoration:none !important">
                                    <button class="dropdown-item btn-light" type="button">@cate1.Name</button>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="row mt-3">
        <iv class="col-12" id="slider-img">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/i/p/iphone-13-didongviet-banner-1200x235-11.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/c/h/chi-tiet-san-pham-thuong-hieu-apple-1200x235.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </div>

    <div class="row mt-4">
        <!-- IMG -->
        <div class="col-4 mr-2 mb-4 bg-white">
            <a href="" class="card-product">
                <div class="card text-center">
                    <img class="card-img-top mt-3 mb-3" src="@Model.Product.ImageMainUrl" alt="Card image cap"/>
                </div>
            </a>
        </div>
        <!-- INFO -->
        <div class="col-8">
            <h5>Thương hiệu: @Model.Product.BrandName<span class="text-primary"> </span></h5>
            <!-- Rank -->
            <h5 class="text-warning"> @rank <span class="text-dark">Có @Model.ListReview.Count() bình luận</span></h5>
            <!-- Tên SP -->
            <h4 class="text-info">@Model.Product.Name</h4>
            <!-- Gía hiện tại -->
            <h4>@Model.Product.PriceCurrent</h4>
            <!-- Gía cũ -->
            <h5 class="text-danger"><del>@Model.Product.PriceOld</del></h5>
        </div>
    </div>

    <!-- Detail -->
    <div>
        <h3>THÔNG TIN CHI TIẾT</h3>
        @foreach (var item in Model.ListAttribute)
        {
            <div class="row mb-2">
                <div class="col-4">
                    <p>@item.name</p>
                </div>
                <div class="col-8">
                    <p>@item.value</p>
                </div>
            </div>
        }

        <!-- Description -->
        <div class="mt-3">
            <h3>MÔ TẢ SẢN PHẨM</h3>
            @Html.Raw(Model.Product.Description)
        </div>

        <!-- Sản phẩm cùng categoryId limit = 6-->
        <h3>SẢN PHẨM TƯƠNG TỰ</h3>
        <div class="row mt-3">
            <a href="" class="card-product">
                <div class="col-2 mr-2 mb-4 bg-white">
                    <div class="card text-center">
                        <img class="card-img-top mt-3" src="https://salt.tikicdn.com/cache/100x100/ts/product/14/f0/60/9ef6497f38bb2e3409c04a676be75ab5.jpg.webp" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><strong>Iphone 13 Promax 256Gb</strong></p>
                            <h6 class="card-text text-dark">23.000.000đ <span class="discount"><button class="text-danger btn-outline-light"><strong>-13%</strong></button></span></h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Review -->
        <div class="mt-3">
            <h3>Đánh Giá - Nhận Xét Từ Khách Hàng</h3>
            <h5>Tổng điểm: @rank</h5>
            <h5>Tổng đánh giá: @Model.ListReview.Count()</h5>
            @foreach (var item in @Model.ListReview)
            {
                <div class="row mt-2 mb-2 comments">
                    <div class="col-12">
                        <!-- Điểm -->
                        <h5 class="mt-2 mb-2">Điểm: @item.Rank</h5>
                    </div>
                    <div class="col-12">
                        <!-- Title -->
                        <h5 class="mt-2 mb-2">@item.Title </h5>
                    </div>
                    <div class="col-12">
                        <!-- Nội dung -->
                        <p class="mt-2 mb-2">
                            @item.Content
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
    </div>

<!-- Send mail -->
<div class="row mb-4">
    <div class="col-12 mt-3 mb-3 text-center">
        <h3>ĐĂNG KÝ NHẬN ƯU ĐÃI</h3>
    </div>
    <div class="col-4"></div>
    <div class="col-4 mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Vui lòng nhập Email để đăng ký!">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary button-search" type="button">
                    <h5 id="register">ĐĂNG KÝ</h5>
                </button>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>