@*@ViewBag.Data
<br />
<hr />
@ViewBag.Id
<br />
<hr />
@ViewBag.Name
<br />
<hr />
@ViewBag.BrandName
<br />
<hr />
<p>
    @ViewBag.Description
</p>
<br />
<hr />
@ViewBag.CategoryName
<br />
<hr />*@
@*@ViewBag.PriceCurrent
<br />
<hr />
<img src="@ViewBag.ImageMainUrl" />
<br />
<hr />*@
@ViewBag.Count
<br />
<hr />
@ViewBag.c1
<br />
<hr />
@ViewBag.c2
<br />
<hr />
@ViewBag.c3
<br />
<hr />
@ViewBag.c4
<br />
<hr />
@ViewBag.c5
<br />
<hr />
@ViewBag.c6
<br />
<hr />